<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.AppName}}</title>
</head>
<body>
    <img src="/logo.png" alt="Logo" width="100">
    <h1>{{.AppName}}</h1>
    <ul>
        <li>
            <a target="_blank" href="{{.ExampleVideo}}">Example Video Player</a>
        </li>
        <li>
            <a target="_blank" href="{{.ProjectDocumentation}}">Api Documentation</a>
        </li>
        <li>
            <a target="_blank" href="{{.ProjectDownload}}">Docker Image / Download</a>
        </li>   
        <li>
            <a target="_blank" href="examples/upload">Upload Example</a>
        </li>   
    </ul>
</body>
</html>