<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="twitter:title" content="{{ .Title }}" />
  <meta name="og:image:width" content="1920" />
  <meta name="og:image:height" content="1080" />
  <meta name="title" content="{{ .Title }}" />
  <meta name="description" content="{{ .Description }}" />
  <meta name="og:title" content="{{ .Title }}" />
  <meta name="og:description" content="{{ .Description }}" />
  <meta name="og:image" content="{{ .Thumbnail }}" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image" content="{{ .Thumbnail}}" />
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vidstack@^1.0.0/player/styles/default/theme.min.css" />
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/vidstack@^1.0.0/player/styles/default/layouts/video.min.css" />
</head>

<body>
  <media-player title="{{.Title}}" src="{{.Folder}}/{{.UUID}}/{{.AudioUUID}}/stream/master.m3u8?jwt={{.JWT}}">
    <media-provider></media-provider>
    <media-video-layout></media-video-layout>
  </media-player>
  <script src="https://cdn.jsdelivr.net/npm/vidstack@^1.0.0/cdn/with-layouts/vidstack.js" type="module"></script>
</body>

</html>