<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Upload Example</title>
        <script src="https://caligatio.github.io/jsSHA/sha.js"></script>
    </head>
    <body>
        <img src="/logo.png" alt="Logo" width="100" />
        <h1>VideoCMS</h1>
        <h2>Choose Video File</h2>
        <div>
            <progress id="progress" value="0" max="100"></progress>
        </div>
        <div>
            <input id="file" type="file" name="file" />
        </div>
        <br />
        <div>
            <input
                id="parrallelUploads"
                type="number"
                value="4"
                min="1"
                max="12"
            />
        </div>
        <br />
        <div>
            <button onclick="upload()">Upload</button>
        </div>
        <div>
            <pre class="log"></pre>
        </div>
        <script>
            const fileinput = document.getElementById("file");
            const logfield = document.querySelector(".log");

            const log = (msg) =>
                (logfield.innerHTML = `[${new Date().toLocaleString()}] ${msg}\n${
                    logfield.innerHTML
                }`);

            // keep active token up to date
            let token = "";
            let timeout = new Date();
            let refreshing = false;
            setInterval(async () => {
                if (
                    token !== "" &&
                    timeout.getTime() - 10000 < new Date().getTime()
                ) {
                    log(`Refreshing auth token`);
                    if (refreshing) return;
                    refreshing = true;
                    const authHeaders = new Headers();
                    authHeaders.append("Authorization", `Bearer ${token}`);

                    const authRefresh = await fetch("/api/auth/refresh", {
                        method: "get",
                        headers: authHeaders,
                        redirect: "follow",
                    }).then((response) => response.json());

                    token = authRefresh.token;
                    timeout = new Date(authRefresh.exp);
                    refreshing = false;
                    log(`New auth token has been generated`);
                }
            }, 1000);

            const upload = async () => {
                log("Script Started");
                fileinput.style.opacity = ".4";
                fileinput.style.pointerEvents = "none";

                const file = fileinput.files[0];
                log(`File Selected: ${file.name}`);

                log(`login using default credentials (admin)`);
                var formdata = new FormData();
                formdata.append("username", "admin");
                formdata.append("password", "12345678");
                const result = await fetch("/api/auth/login", {
                    method: "POST",
                    body: formdata,
                    redirect: "follow",
                }).then((response) => response.json());

                log(
                    `login response: ${JSON.stringify(result).substring(0, 50)}`
                );

                token = result.token;
                timeout = new Date(result.exp);

                log(
                    `Creating file hash (this can take a wile on big files (>200mb))`
                );
                const reader = file.stream().getReader();

                const shaObj = new jsSHA("SHA-256", "ARRAYBUFFER");
                while (true) {
                    const { done, value } = await reader.read();
                    if (done) break;
                    shaObj.update(value);
                }

                const sha256 = shaObj.getHash("HEX");
                log(`${file.name}: ${sha256}`);

                log(`Create upload session`);
                const authHeaders = new Headers();
                authHeaders.append("Authorization", `Bearer ${token}`);

                var formdata = new FormData();
                formdata.append("Name", file.name);
                formdata.append("Size", file.size);
                formdata.append("Sha256", sha256);

                const uploadsession = await fetch("/api/pcu/session", {
                    method: "POST",
                    headers: authHeaders,
                    body: formdata,
                    redirect: "follow",
                }).then((response) => response.json());

                log(
                    `uploadsession response: ${JSON.stringify(
                        uploadsession
                    ).substring(0, 50)}`
                );

                const fileSliceSize = Math.ceil(
                    file.size / uploadsession.ChunckCount
                );
                log(
                    `Upload all ${uploadsession.ChunckCount} chuncks by ${fileSliceSize}bytes`
                );

                const uploadChunck = async (fileChunck, i) => {
                    formdata = new FormData();
                    formdata.append("file", fileChunck, "mha.mkv");
                    formdata.append("Index", i);
                    formdata.append("SessionJwtToken", uploadsession.Token);

                    const chunckRes = await fetch("/api/pcu/chunck", {
                        method: "POST",
                        headers: authHeaders,
                        body: formdata,
                        redirect: "follow",
                    }).then((response) => response.text());
                    log(`Chunck ${i} response: ${chunckRes}`);
                };

                const parrallelUploads = parseInt(
                    document.getElementById("parrallelUploads").value
                );
                let pthreads = Math.ceil(
                    uploadsession.ChunckCount / parrallelUploads
                );
                for (let p = 0; p < pthreads; p++) {
                    let startIndex = p * parrallelUploads;
                    let endIndex = (p + 1) * parrallelUploads;
                    let promisses = [];
                    for (let i = startIndex; i < endIndex; i++) {
                        // ignore overhead
                        if (i < uploadsession.ChunckCount) {
                            const fileChunck = file.slice(
                                i * fileSliceSize,
                                (i + 1) * fileSliceSize
                            );
                            console.log("start index", i);
                            promisses.push(uploadChunck(fileChunck, i));
                        }
                    }
                    console.log("await from", startIndex, "until", endIndex);
                    await Promise.all(promisses);
                }

                log(`Finalizing Upload`);
                formdata = new FormData();
                formdata.append("SessionJwtToken", uploadsession.Token);

                const uploadedFile = await fetch("/api/pcu/file", {
                    method: "POST",
                    headers: authHeaders,
                    body: formdata,
                    redirect: "follow",
                }).then((response) => response.json());
                log(
                    `uploadedFile response: ${JSON.stringify(
                        uploadedFile
                    ).substring(0, 100)}`
                );
                log(`http://localhost:3000/${uploadedFile.UUID}`);
            };
        </script>
    </body>
</html>
