<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{.AppName}} || Upload Example</title>
    </head>
    <body>
        <img src="/logo.png" alt="Logo" width="100" />
        <h1>{{ .AppName }}</h1>
        <h2>Choose Video File</h2>
        <div>
            <progress id="progress" value="0" max="100"></progress>
        </div>
        <div>
            <input id="file" type="file" name="file" />
        </div>
        <br />
        <div>
            <input
                id="parrallelUploads"
                type="number"
                value="4"
                min="1"
                max="12"
            />
        </div>
        <br />
        <div>
            <button onclick="upload()">Upload</button>
        </div>
        <div>
            <pre class="log"></pre>
        </div>
        <script>
            const fileinput = document.getElementById("file");
            const progress = document.getElementById("progress");
            const logfield = document.querySelector(".log");

            const log = (msg) =>
                (logfield.innerHTML = `[${new Date().toLocaleString()}] ${msg}\n${
                    logfield.innerHTML
                }`);

            // keep active token up to date
            let token = "";
            let timeout = new Date();
            let refreshing = false;
            setInterval(async () => {
                if (
                    token !== "" &&
                    timeout.getTime() - 10000 < new Date().getTime()
                ) {
                    log(`Refreshing auth token`);
                    if (refreshing) return;
                    refreshing = true;
                    const authHeaders = new Headers();
                    authHeaders.append("Authorization", `Bearer ${token}`);

                    const authRefresh = await fetch("/api/auth/refresh", {
                        method: "get",
                        headers: authHeaders,
                        redirect: "follow",
                    }).then((response) => response.json());

                    token = authRefresh.token;
                    timeout = new Date(authRefresh.exp);
                    refreshing = false;
                    log(`New auth token has been generated`);
                }
            }, 1000);

            const upload = async () => {
                log("Script Started");
                fileinput.style.opacity = ".4";
                fileinput.style.pointerEvents = "none";

                const file = fileinput.files[0];
                log(`File Selected: ${file.name}`);

                log(`login using default credentials (admin)`);
                var formdata = new FormData();
                formdata.append("username", "admin");
                formdata.append("password", "12345678");
                const result = await fetch("/api/auth/login", {
                    method: "POST",
                    body: formdata,
                    redirect: "follow",
                }).then((response) => response.json());

                log(
                    `login response: ${JSON.stringify(result).substring(0, 50)}`
                );

                token = result.token;
                timeout = new Date(result.exp);
                const percentalProgress = () =>
                    Math.round(
                        (100 / file.size) * (loopCounter * 65536) * 1000
                    ) / 1000;
                log(`Create upload session`);
                const authHeaders = new Headers();
                authHeaders.append("Authorization", `Bearer ${token}`);

                var formdata = new FormData();
                formdata.append("Name", file.name);
                formdata.append("Size", file.size);

                const uploadsession = await fetch("/api/pcu/session", {
                    method: "POST",
                    headers: authHeaders,
                    body: formdata,
                    redirect: "follow",
                }).then((response) => response.json());

                log(
                    `uploadsession response: ${JSON.stringify(
                        uploadsession
                    ).substring(0, 50)}`
                );

                const fileSliceSize = Math.ceil(
                    file.size / uploadsession.ChunckCount
                );
                log(
                    `Upload all ${uploadsession.ChunckCount} chuncks by ${fileSliceSize}bytes`
                );

                const uploadChunck = async (fileChunck, i) => {
                    formdata = new FormData();
                    formdata.append("file", fileChunck, "mha.mkv");
                    formdata.append("Index", i);
                    formdata.append("SessionJwtToken", uploadsession.Token);

                    const chunckRes = await fetch("/api/pcu/chunck", {
                        method: "POST",
                        headers: authHeaders,
                        body: formdata,
                        redirect: "follow",
                    }).then((response) => response.text());
                    log(`Chunck ${i} response: ${chunckRes}`);
                };

                const parrallelUploads = parseInt(
                    document.getElementById("parrallelUploads").value
                );
                progress.min = 0;
                progress.value = 0;
                progress.max = uploadsession.ChunckCount;
                let pthreads = Math.ceil(
                    uploadsession.ChunckCount / parrallelUploads
                );
                const forLoop = async (i, max) => {
                    const fileChunck = file.slice(
                        i * fileSliceSize,
                        (i + 1) * fileSliceSize
                    );
                    console.log("start index", i);
                    await uploadChunck(fileChunck, i);

                    progress.value += 1;
                    if (max > i) {
                        await forLoop(i + 1, max);
                    }
                };
                let promisses = [];
                for (let p = 0; p < parrallelUploads; p++) {
                    promisses.push(forLoop(p * pthreads, (p + 1) * pthreads));
                }
                await Promise.all(promisses);

                log(`Finalizing Upload`);
                formdata = new FormData();
                formdata.append("SessionJwtToken", uploadsession.Token);

                const uploadedFile = await fetch("/api/pcu/file", {
                    method: "POST",
                    headers: authHeaders,
                    body: formdata,
                    redirect: "follow",
                }).then((response) => response.json());
                log(
                    `uploadedFile response: ${JSON.stringify(
                        uploadedFile
                    ).substring(0, 100)}`
                );
                log(`http://localhost:3000/${uploadedFile.UUID}`);
            };
        </script>
    </body>
</html>
